.mainContain{
    /* background-color: aqua; */
    width: 80%;
    margin: 0 auto;
}

a, router-link {
    color: inherit; /* 상위 요소에서 상속받은 색상 적용 */
    text-decoration: none; /* 밑줄 없애기 */
    font-family: inherit; /* 상위 요소에서 상속받은 폰트 적용 */
}

.input-group {
    width: 50%;
}

.dropdown {
    margin-left: 34%;
}

.search {
    display: flex;
}

.search-left {
    width: 30%;
}

.search-right {
    display: flex;
    width: 70%;
    justify-content: right;
}

.table {
    margin: 50px 0;
}

.btn-box {
    display: flex;
    justify-content: center;
}

tbody tr {
    cursor: pointer;
}