@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family : 'TheJamsil5Bold';
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.footer .navbar-nav {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    width: 100%;
}

.footer .navbar-nav .text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
