body {
    color: rgb(80, 80, 80);
}

.mainImg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/main.jpg');
    background-size: cover; /* 배경 이미지가 div 크기에 맞게 조정되도록 설정 */
    background-position: center; /* 배경 이미지가 div의 중앙에 위치하도록 설정 */
    height: 1000px;
    width: 100%;
    margin-top: -70px;
    padding-top: 70px;
}

.mainContent {
    color: white;
    width: fit-content;
    padding-bottom: 50px;
}

.mainPhrases{
    font-size: larger;
    line-height: 40px;
    white-space: nowrap;
    width: 1000px;
    height: 170px;
}

.mainPhrases span {
    font-weight: bold;
    color: gold;
}

.inquireForm{
    height: 350px;
    background-color: white;
    color: black;
}

fieldset {
    margin: 40px 15px;
}

fieldset legend {
    font-weight: bold;
}

.travelplanArea{
    /* background-color:burlywood; */
    height: 850px;
    width:100%;
    margin-top: 70px;
}

.center-hr {
    display: block;
    margin: 20px auto;
    width: 170px;
    border: 0;
    border-top: 5px solid rgb(77, 77, 119);
}

.travelCard{
    width:fit-content;
    margin: 60px auto 0;
}

.travelCard .row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.card {
    margin: 0 20px;
}

.slider__dot{
    width: fit-content;
    margin: 50px auto;
}

.slider__dot .dot {
    width: 20px;
    height: 20px;
    background-color: rgba(173, 173, 173, 0.3);
    display: inline-block;
    border-radius: 50%;
    text-indent: -9999px;
    transition: all 0.3s;
    margin: 2px;
}

.hotPlaceArea{
    /* background-color: aqua; */
    height: 450px;
    width:100%;
    margin-top: 70px;
}

.hotPlaceTable{
    width: 60%;
    margin: 50px auto;
}

.travelInfoArea{
    /* background-color:burlywood; */
    height: 450px;
    width:100%;
    margin-top: 70px;
}

.travelInfoTable{
    width: 60%;
    margin: 50px auto;
}
